body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-rigth-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-rigth-section a {
    margin-right: 10px;
    color: black;
}
nav .nav-rigth-section .menu-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;

}
nav .nav-rigth-section img{
    border-radius: 50%;
    margin-left: 10px;
}
main{
    margin-top: 150px;
    text-align: center;
}
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img{
    width: 300px;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #eff0f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon{
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .micro-icon{
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
 main .main-buttons div{
    display: inline-block;
 }
 main .main-buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    min-width: 54px;
}
main .main-buttons button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #f1f1f1;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left{
    justify-self: left;
}
footer .footer-rigth{
    justify-self: right;
}
footer ul li a{
    margin: 10px;
    color: #5f6368;
}